{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style_hearing.css' %}" media="all">
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block nav_search %}
<a class="nav__link" href="{% url 'search' %}"><h3>Поиск по судебным делам</h3></a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="content__inner">
        <div class="form_table">
            {% include 'hearing/hearing__form.html' %}
            <div class="upper_wrapper">
                <div class="wrapper-search-tables">
                    <div class="content--header_text">
                        <h5>По вашему запросу найдено записей: {{count_cases}} </h5>
                    </div>
                    {% include 'hearing/hearing__table.html' %}
                <div class="pagination_block" >
                    {% include 'hearing/hearing__pagination.html' %}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>document.getElementsByClassName('davaToday').valueAsDate = new Date();</script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/clear_get.js' %}"></script>
{% endblock %}
