// main: ../style.less


.header__inner {
  display: flex;
  flex-direction: column;
}



.header__search {
  background-color: #4f8a61;
  border-bottom: 1px solid #fff;
  i {
    color: #fff;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-right: 2rem;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.header__inner .header__avatar {
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b5d51;

  .logo {
    padding: 1rem;
    width: 20rem;
  }
}
