@font-face {
  font-family: 'IntroRegular';
  src: url('../fonts/intro_regular.ttf') format("truetype"), local('IntroRegular');
}
html {
  font-size: 15px;
}
body,
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: url("https://vs-ra.org/images/headers/bg_05.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 1200px;
}
@media (max-width: 1097px) {
  body {
    height: 123%;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* Block */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
.header__inner {
  display: flex;
  flex-direction: column;
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.15);
}
.header__inner .block_logo {
  background-color: #ffffff;
}
.header__inner .block_logo img {
  padding: 15px;
  margin-right: auto;
  margin-left: 50px;
}
.header__search {
  background-color: #0b5d51;
  padding: 15px 20px;
  height: 67px;
}
.header__search i {
  color: #fff;
  float: right;
  margin-top: 19px;
  cursor: pointer;
  padding: 0 0 0 5px;
}
.header__inner .header__avatar {
  border-bottom: 1px solid #fff;
  display: block;
  justify-content: space-between;
  align-items: center;
  background-color: #0b5d51;
}
.header__inner .header__avatar .logo {
  padding: 1rem;
  width: 20rem;
}
.header__avatar {
  height: 50px;
}
.nav {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 50px;
}
.nav__link {
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  align-items: center;
  min-height: 100%;
  max-height: 100%;
  color: #fff;
  position: relative;
  text-decoration: none;
}
.nav__link h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  z-index: 100;
}
.nav__link:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 3px solid;
  border-radius: 3px;
  color: #ffffff;
  max-width: 97%;
  transform: scale(0) translateZ(0);
  -webkit-transition: -webkit-transform 0.45s ease, opacity 0.55s ease;
  -moz-transition: -moz-transform 0.45s ease, opacity 0.55s ease;
  -ms-transition: -ms-transform 0.45s ease, opacity 0.55s ease;
  -o-transition: -o-transform 0.45s ease, opacity 0.55s ease;
  transition: transform 0.45s ease, opacity 0.55s ease;
}
.nav__link:hover:before {
  transform: scale(1) translateZ(0);
  transition: transform 0.45s ease, opacity 0.55s ease;
  color: #eb0001;
}
.current-item:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 3px solid;
  border-radius: 3px;
  color: #eb0001;
  width: 97%;
  transform: scale(1) translateZ(0);
}
form {
  height: 100%;
  background-color: #ffffffc9;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  min-width: 360px;
}
.form__container {
  display: flex;
  flex-direction: column;
}
.form__container h2 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}
.form__container .block__element {
  margin-top: 1rem;
}
.time_block {
  display: flex;
}
.content {
  position: relative;
  flex: 1 1 auto;
}
.content--header_text {
  min-height: 55px;
  max-height: 55px;
  display: flex;
  background-color: #e8e8e8;
  width: 100%;
}
.content--header_text h4 {
  padding: 1rem;
  margin: 0;
  font-family: 'IntroRegular', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: #374140;
  line-height: 1.4;
  align-self: center;
  text-align: center;
}
.content--header_text h5 {
  padding: 2rem 1rem 0.5rem 1rem;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #374140;
  align-self: flex-end;
  line-height: 1.4;
}
.content--form-text {
  justify-content: center;
}
.select-box_size_default {
  width: 290px;
}
.select-box_size_half {
  width: 145px;
}
.select-box {
  display: flex;
  flex-direction: column;
  position: relative;
}
.select-box .options-container {
  border: 2px solid rgba(14, 93, 88, 0.1);
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: #e4eaef;
  color: #000000;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  order: 1;
  position: absolute;
  top: 31px;
  z-index: 0;
}
.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #d2d3d9;
  border-radius: 0 3px 3px 0;
}
.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 3px 3px 0;
}
.select-box .options-container.active {
  z-index: 1;
  max-height: 244px;
  opacity: 1;
  overflow-y: scroll;
}
.select-box .options-container .option:first-child {
  color: #525861;
}
.select-box .options-container .option .radio {
  display: none;
}
.select-box .options-container .option:hover {
  background: #cccccc;
}
.select-box label {
  font-weight: 200;
  font-size: 0.85rem;
  cursor: pointer;
  display: block;
  padding: 6px 10px;
  min-height: 30px;
}
.select-box .selected {
  font-weight: 100;
  font-size: 0.85rem;
  background: #e4eaef;
  margin-bottom: 1px;
  order: 0;
  position: relative;
  padding: 6px 10px;
  min-height: 35px;
}
.select-box .selected:after {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  content: "";
  background: url('../img/arrow-down.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 20px;
  right: 10px;
  top: 6px;
  transition: all 0.4s;
}
.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}
.select-box .option,
.select-box .selected {
  cursor: pointer;
}
.form_input_id {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #e4eaef;
  padding: 6px;
  border-radius: 3px;
  width: 290px;
  outline: none;
  font-size: 14px;
}
.form_input_id::-webkit-input-placeholder {
  font-size: 0.8rem;
}
.form_input_date_time_id {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #e4eaef;
  padding: 6px;
  border-radius: 3px;
  width: 143px;
  outline: none;
  font-size: 14px;
}
.form_input_date_time_id::-webkit-input-placeholder {
  font-size: 0.8rem;
}
.btn_div {
  display: flex;
  align-items: center;
}
.btn_div .btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
  color: #ffffff;
  padding: 8px 28px;
  border-radius: 4px;
  border: 0;
  background: #0b5d51;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.btn_div .btn:active,
.btn_div .btn:hover,
.btn_div .btn:focus {
  outline: 0;
  outline-offset: 0;
}
.btn_div .btn:hover {
  background: #ce493a;
}
.btn_div a {
  border: none;
  color: #0b5d51;
  margin-left: 1rem;
  transition: color 0.5s ease;
}
.btn_div a:hover {
  color: #ff4b38;
}
.boarder_around {
  border: 2px solid rgba(14, 93, 88, 0.1);
  border-radius: 3px;
}
.form_table {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.pagination_block {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.pagination {
  width: auto;
  margin: 0 auto;
}
.pagination,
.pagination__link {
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.pagination__link {
  position: relative;
  left: -1px;
  top: 1px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #0b5d51;
}
.pagination__item {
  transition: all 0.2s ease-in-out;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 1;
  position: relative;
  margin: 0 2px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.pagination__item:first-child {
  margin-left: 0;
}
.pagination__item:last-child {
  margin-right: 0;
}
.pagination__item.active .pagination__link {
  color: #fff;
  background: #14544b;
}
.pagination__item--dots .pagination__link {
  color: #14544b;
}
@media only screen and (min-width: 1025px) {
  .pagination a.pagination__link:hover {
    background: rgba(11, 93, 81, 0.25);
  }
}
.upper_wrapper {
  min-width: 800px;
  width: 100%;
}
.wrapper-search-tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8e8d8d59;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 0.7rem;
}
.wrapper-search-tables .custom_table {
  max-width: 99%;
  min-width: 99%;
  margin-top: 0.3rem;
  border-collapse: collapse;
  box-shadow: 0 5px 10px #b6babe;
  background-color: #fff;
  text-align: left;
  overflow: hidden;
  border: 2px solid #bcc7ce;
}
.wrapper-search-tables .custom_table thead {
  box-shadow: 0 5px 10px #b6babe;
  background-color: #d0dae0;
  color: #374140;
}
.wrapper-search-tables .custom_table th {
  padding: 0.5rem 1rem;
  letter-spacing: 0.01rem;
  font-size: 0.85rem;
  font-weight: 900;
  border: 1px solid #bcc7ce;
}
.wrapper-search-tables .custom_table tbody {
  color: #374140;
}
.wrapper-search-tables .custom_table td {
  padding: 0.2rem 0.5rem;
  font-size: 0.85rem;
  border: 1px solid #bcc7ce;
}
.wrapper-search-tables .custom_table tr:nth-child(even) {
  background-color: #e4eaef;
}
.wrapper-search-tables .custom_table tr:first-child td {
  padding-top: 10px;
}
.wrapper-search-tables .custom_table tr {
  height: 50px;
}
.wrapper-search-tables .col1 {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  text-align: center;
}
.wrapper-search-tables .col2 {
  min-width: 180px;
}
.wrapper-search-tables .col3 {
  min-width: 130px;
}
.wrapper-search-tables .col4 {
  min-width: 180px;
}
.wrapper-search-tables .col5 {
  min-width: 200px;
}
.footer {
  color: #fff;
  flex-shrink: 0;
  background-color: #0b5d51;
  margin-top: 1rem;
}
.footer__inner {
  padding: 1rem;
}
.footer__inner h1 {
  font-weight: 300;
  font-size: 0.8rem;
}
.footer__inner .footer_info_name {
  text-align: center;
}
.footer_rus_name {
  padding-left: 1.1rem;
}
/*# sourceMappingURL=style_hearing.css.map */