{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="content--header_text">
    <h4>Информация по делу № {{ data.StringNumber }}</h4>
    </div>
    <div class="content__inner content_details">
        <div class="list_of_case">
            {% if data.ObjectID %}
                <div class="row_card">
                    <div class="left">Уникальный идентификатор дела</div>
                    <div class="right">{{ data.ObjectID }}</div>
                </div>
            {% endif %}
            {% if data.StringNumber %}
                <div class="row_card">
                    <div class="left">Номер</div>
                    <div class="right">{{ data.StringNumber }}</div>
                </div>
            {% endif %}
            {% if data.Plaintiff or data.Defendant or data.Accused %}
                <div class="row_card">
                    <div class="left">Стороны</div>
                    <div class="right">
                        {% if data.Plaintiff %}
                            <b>Истец: </b>{{ data.Plaintiff }}<br>
                        {% endif %}
                        {% if data.Defendant %}
                            <b>Ответчик: </b>{{ data.Defendant }}
                        {% endif %}
                        {% if data.Accused %}
                            <b>Обвиняемый: </b>{{ data.Accused }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if data.Date %}
                <div class="row_card">
                    <div class="left">Дата</div>
                    <div class="right">{{ data.Date }}</div>
                </div>
            {% endif %}
            {% if data.Category %}
                <div class="row_card">
                    <div class="left">Категория дела</div>
                    <div class="right">{{ data.Category }}</div>
                </div>
            {% endif %}
            {% if data.StateName %}
            <div class="row_card">
                <div class="left">Текущее состояние</div>
                <div class="right">{{ data.StateName }}</div>
            </div>
            {% endif %}
            {% if data.ArticleCC %}
            <div class="row_card">
                <div class="left">Статья</div>
                <div class="right">{{ data.ArticleCC }}</div>
            </div>
            {% endif %}
            {% if data.Judge %}
            <div class="row_card">
                <div class="left">Судья</div>
                <div class="right">{{ data.Judge }}</div>
            </div>
            {% endif %}
            {% if data.PresidingJudge %}
            <div class="row_card">
                <div class="left">Председательсвующий судья</div>
                <div class="right">{{ data.PresidingJudge }}</div>
            </div>
            {% endif %}
            {% if data.JudgeSpeaker %}
            <div class="row_card">
                <div class="left">Судья докладчик</div>
                <div class="right">{{ data.JudgeSpeaker }}</div>
            </div>
            {% endif %}
            {% if data.ThirdJudge %}
            <div class="row_card">
                <div class="left">Третий судья</div>
                <div class="right">{{ data.ThirdJudge }}</div>
            </div>
            {% endif %}
            {% if data.FourthJudge %}
            <div class="row_card">
                <div class="left">Четвертый судья</div>
                <div class="right">{{ data.FourthJudge }}</div>
            </div>
            {% endif %}
            {% if data.FifthJudge %}
            <div class="row_card">
                <div class="left">Пятый судья</div>
                <div class="right">{{ data.FifthJudge }}</div>
            </div>
            {% endif %}
            {% if data.Document %}
            <div class="row_card">
                <div class="left">Судебный акт</div>
                <div class="right">{{ data.Document }}</div>
            </div>
            {% endif %}
            {% if data.StateHistory %}
            <div class="row_card">
                <div class="left">История дела</div>
                <div class="right">{{ data.StateHistory }}</div>
            </div>
            {% endif %}
            {% if data.HearingsCase %}
            <div class="row_card">
                <div class="left">Слушания по делу</div>
                <div class="right">{{ data.HearingsCase }}</div>
            </div>
            {% endif %}
        </div>
        <div class="btn_div go_back">
        <input type="submit" class="btn" onclick="history.back() || $.searchForm.goBack('/mgs/services/cases/appeal-civil?courtInternalName=mgs'); return false;" value="Вернуться к списку"/>
        </div>
    </div>
</div>
{% endblock %}
