<form action="{% url 'search' %}" method="GET">
    <div class="content--header_text content--form-text">
        <h4>ПОИСК ПО СУДЕБНЫМ ДЕЛАМ</h4>
    </div>
    <div class="form__container">
        <div class="block_elements">
            <div class="block__element">
                <h2>Суд</h2>
                <div class="select-box">
                    <div class="options-container">
                        {% for court in courts %}
                          <div class="option">
                            <input type="radio" class="radio" id="Court_{{ court }}" name="Court" value="{{ court }}"
                            {% if data_for_default.Court == court %}
                                   checked
                            {% endif %}
                            />
                            <label for="Court_{{ court }}">{{ court }}</label>
                          </div>
                        {% endfor %}
                    </div>
                    <div class="selected boarder_around">
                        {% if data_for_default.Court %}
                            {{ data_for_default.Court }}
                        {% endif %}
                        {% if not data_for_default.Court %}
                            Выберите суд
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="block__element">
                <h2>Инстанция</h2>
                <div class="select-box">
                    <div class="options-container">
                        {% for instance in instances %}
                          <div class="option">
                            <input type="radio" class="radio" id="Instance_{{ instance }}" name="Instance" value="{{ instance }}"
                            {% if data_for_default.Instance == instance %}
                                   checked
                            {% endif %}
                            />
                            <label for="Instance_{{ instance }}">{{ instance }}</label>
                          </div>
                        {% endfor %}
                    </div>
                    <div class="selected boarder_around">
                        {% if data_for_default.Instance %}
                            {{ data_for_default.Instance }}
                        {% endif %}
                        {% if not data_for_default.Instance %}
                            Выберите инстанцию
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="block__element">
                <h2>Вид судопроизводства</h2>
                <div class="select-box">
                    <div class="options-container">
                        {% for type_of_legal_proceeding in type_of_legal_proceedings %}
                          <div class="option">
                            <input type="radio" class="radio" id="type_of_legal_proceeding_{{ type_of_legal_proceeding }}" name="type_of_legal_proceeding" value="{{ type_of_legal_proceeding }}"
                            {% if data_for_default.type_of_legal_proceeding == type_of_legal_proceeding %}
                                   checked
                            {% endif %}
                            />
                            <label for="type_of_legal_proceeding_{{ type_of_legal_proceeding }}">{{ type_of_legal_proceeding }}</label>
                          </div>
                        {% endfor %}
                    </div>
                    <div class="selected boarder_around">
                        {% if data_for_default.type_of_legal_proceeding %}
                            {{ data_for_default.type_of_legal_proceeding }}
                        {% endif %}
                        {% if not data_for_default.type_of_legal_proceeding %}
                            Выберите вид судопроизводства
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="block__element">
                <h2 class="form__label">Номер дела, материала, жалобы или<br>производства</h2>
                {% if data_for_default.ObjectID %}
                    <input type="text" class="form_input_id boarder_around" autocomplete="off" name="ObjectID" placeholder="например, 77OS0000-05-2018-008038-16" value="{{ data_for_default.ObjectID }}">

                {% endif %}
                {% if not data_for_default.ObjectID %}
                    <input type="text" class="form_input_id boarder_around" autocomplete="off" name="ObjectID" placeholder="например, 77OS0000-05-2018-008038-16" value>
                {% endif %}
            </div>
            <div class="block__element">
                <h2>Судья</h2>
                <div class="select-box">
                    <div class="options-container">
                        {% for judge in judges %}
                          <div class="option">
                            <input type="radio" class="radio" id="Judge_{{ judge }}" name="Judge" value="{{ judge }}"
                            {% if data_for_default.Judge == judge %}
                                   checked
                            {% endif %}
                            />
                            <label for="Judge_{{ judge }}">{{ judge }}</label>
                          </div>
                        {% endfor %}
                    </div>
                    <div class="selected boarder_around">
                        {% if data_for_default.Judge %}
                            {{ data_for_default.Judge }}
                        {% endif %}
                        {% if not data_for_default.Judge %}
                            Выберите судью
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="block__element">
                <h2>Год</h2>
                <div class="select-box">
                    <div class="options-container">
                        {% for year in years %}
                          <div class="option">
                            <input type="radio" class="radio" id="Date_{{ year }}" name="Date" value="{{ year }}"

                            {% if data_for_default.Date == year %}
                                   checked
                            {% endif %}
                            />
                            <label for="Date_{{ year }}">{{ year }}</label>
                          </div>
                        {% endfor %}
                    </div>
                    <div class="selected boarder_around">
                        {% if data_for_default.Date %}
                            {{ data_for_default.Date }}
                        {% endif %}
                        {% if not data_for_default.Date %}
                            Выберите год
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="block__element">
                <h2 class="form__label">Стороны</h2>
                {% if data_for_default.Name_people %}
                        <input type="text" class="form_input_id boarder_around" autocomplete="off" name="Name_people" placeholder="Фамилия И.О. или наименование организации" value="{{ data_for_default.Name_people }}">

                {% endif %}
                {% if not data_for_default.Name_people %}
                    <input type="text" class="form_input_id boarder_around" autocomplete="off" name="Name_people" placeholder="Фамилия И.О. или наименование организации" value>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="btn_div">
        <input type="submit" value="Найти" class="btn" />
        <div class="show_all">
            <a href="{% url 'search' %}">Показать все</a>
        </div>
    </div>
</form>