<table class="custom_table">
    <thead>
        <tr>
            <th>Номер дела</th>
            <th>Стороны</th>
            <th>Текущее состояние</th>
            <th>Судья</th>
            <th>Статья</th>
            <th>Категория дела</th>
        </tr>
    </thead>
    <tbody>
        {% for data in page_obj %}
            <tr>
                <td class="col1"><a target="_blank" href="/detail?ObjectID={{ data.ObjectID }}">{{ data.StringNumber }}</a></td>
                {% if not data.Accused %}
                    <td class="col2"><b>Истец: <br></b>{{ data.Plaintiff }}<br><b>Ответчик: <br></b>{{ data.Defendant }}</td>
                {% endif %}
                {% if data.Accused %}
                    <td class="col2"><b>Обвиняемый: <br></b>{{ data.Accused }}</td>
                {% endif %}
                <td class="col3">{{ data.StateName }}</td>
                <td class="col4">{{ data.Judge }}</td>
                <td class="col5">{{ data.ArticleCC }}</td>
                <td class="col6">{{ data.Category }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>