<table class="custom_table">
    <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Стороны</th>
            <th>Текущее состояние</th>
            <th>Судья</th>
            <th>Статья</th>
            <th>Категория дела</th>
        </tr>
    </thead>
    <tbody>
        {% for data in page_obj %}
            <tr>
                <td><a target="_blank" href="/detail?ObjectID={{ data.ObjectID }}">{{ data.StringNumber }}</a></td>
                {% if not data.Accused %}
                    <td><b>Истец: </b>{{ data.Plaintiff }}<br><b>Ответчик: </b>{{ data.Defendant }}</td>
                {% endif %}
                {% if data.Accused %}
                    <td><b>Обвиняемый: </b>{{ data.Accused }}</td>
                {% endif %}
                <td>{{ data.StateName }}</td>
                <td>{{ data.Judge }}</td>
                <td>{{ data.ArticleCC }}</td>
                <td>{{ data.Category }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>